<div class="max-w-full w-full h-12 flex flex-row bg-white border-1">
    <div class="flex w-24 items-center justify-start">
        <button class="px-4 py-2 bg-blue-500 text-white rounded-md shadow-lg " (click)="menu.openMenu()"> ☰
        </button>
    </div>
    <div class="w-full justify-end flex">
        <a class="cursor-pointer">
            <img class="w-12 h-12 object-cover flex justify-end items-end" src="../../assets/logos/E-commerce-logoWhite.png" alt="logo-ecommerce">
        </a>
    </div>
</div>

<app-layout></app-layout>